<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Valisakkagari Sai sreenath reddy</h1>
<h1>1001663586</h1>
<br>
<form method="POST">
    Enter veg or notveg <input type="text" name="no_of_clusters">
    <input type="submit">
</form>

<table border="1">
chart:
    {% for rows in data %}
    <tr>
        <td>{{ rows }}</td>

    </tr>
    {% endfor %}
<img src="data:image/png;base64,{{ data1 }}" height="420" width="420">




</table>
<br>
<a href="/">Home</a>
</body>
</html>