<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<h1>Valisakkagari Sai sreenath reddy</h1>
<h1>1001663586</h1>

<br>
Result of Addition {{ msg }}
<br>

<a href="/upload">Upload csv</a>
<br>
<br>
		 <a href = "/adddata">Result of add</a>
<br>
		 <a href = "/display">Display all records</a>
<br>
		 <a href = "/multiple">multiple all records</a>
<br>
		 <a href = "/net">Starting letter</a>
<br>
		 <a href = "/cluster">Kmeans</a>
<br>
		 <a href = "/new"> new </a>
<br>
		 <a href = "/q1search"> q7 </a>

<br>
		 <a href = "/bar"> bar </a>
<br>
		 <a href = "/pie"> pie </a>


</body>
</html>
