<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Valisakkagari sai sreenath reddy</h1>
<h1>1001663586</h1>
<br>


<form method="POST" action="">
    <br>
    Enter lat <input type="number" name="number" min="0" max="999">
    <br>
    <input type="submit" name="show">
</form>
<div id="table-wrapper">
    <div id="table-scroll">
<table border="1">
    <tr><h1>Valisakkagari sai sreenath reddy</h1>

        <td>{{ rows }}</td>
   

    </tr>

</table>
    </div>
</div>
<br>
<a href="/">Home</a>
</body>
</html>
