<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} Grades</title>
    {% endblock %}
</head>
<body>
<header>
<h1>Valisakkagari sai sreenath reddy</h1>
    <h1>1001663586</h1>

</header>

<form action="" method="post" name ="form1">
  name:<br>
  <input type="text" name="name1"><br>
  <!--<input type="number" name="name2"><br>-->
    mag1
  <input type="number" name="mag1"><br>
  mag2
  <input type="number" name="mag2"><br>


  <input type="submit" value="Submit">
</form>



<p>
{% block content %}
{% for city in ci %}

  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <tr>
<!--         <td>{{ city | safe }}</td>
 -->

    <tr>

{% endfor %}
 <img src="data:image/png;base64,{{ data1 }}">

 {% endblock %}
 

</p>
</body>
</html>